/* Typewriter Effect */
.var-highlight{
	color: #F7344F
	;
}
.string-highlight{
	color: #E6FF00;
}

#typewriter{
		position: relative;
		top: 20%;
		font-size:calc(12px + 1.5vw);
		font-family: "Courier New";
        color: white;
		height: 40vw;
}

#typewriter:after{
	content: "|";
	animation: blink 500ms linear infinite alternate;
}

@keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}


/* Thank you https://codepen.io/stevn/pen/jEZvXa for the idea */

html{
	overflow-x: hidden;
	font-family: 'poppins', sans-serif;
}


body{
	background-color: white
	;
}

body h1{
	font-family: 'Recursive', sans-serif;
	;
	font-weight: 700;
	font-size: 56px;
}

/* NAV/HEADER */
header{
	height: 40vw;
	min-height: 40vh;
    width: 100vw;
    background-color: rgb(50, 50, 50);
}

@media screen and (max-width: 600px){
	#typewriter{
		font-size:calc(10px + 1vw);
	}
	header{
		min-height: 30vh;
		transition: 1s;
	} 
}
@media screen and (max-width: 376px){
	#typewriter{
		font-size:calc(8px + 1vw);
	}
}

.bg-color{
	background-color:#F7344F;
}

nav img{
	width: 50px;
	height: auto;
	margin-right: 15px;
}
.navbar-brand{
	font-size: 32px;
	display: flex;
	align-items: center;
	
}
.navbar-brand{
	color: white;
	font-family: 'poppins', sans-serif;
	font-weight: 700;
	letter-spacing: 2px;
}

.nav-link{
	color: white;
	font-family: 'poppins', sans-serif;
	letter-spacing: 2px;
}

.nav-link:hover{
	color: #E6FF00;
	transition: 200ms;
}

.nav-link:visited{
	color: white;
}
.nav-link i{
	color: #E6FF00;
}

.nav-link i:hover{
	color: white;
	transition: 200ms;
}

#contactLink{
	border: 1px solid #E6FF00
}

#contactLink:hover{
	background-color: #E6FF00;
	color: #F7344F;
	transition: 200ms;
}
.navbar{
	padding: .5% 5%;
}

.container{
	width: fit-content;
	margin-left: 0;
}


@media screen and (max-width: 545px){
	.nav{
		justify-content: start !important;
	}
}
	
/* ABOUT */
#aboutMe{
	min-height: 80vh;
	max-height: auto;
	width: 100vw;
	margin: auto;
	padding: 5% 10%;
}

#aboutMe h1{
	text-align: center;
	color: black;
	margin:0 auto 3% auto;	
	width: fit-content;
	font-size: calc(40px + 2vw);
	/* border-bottom: 3px solid #F7344F; */
	text-shadow: 5px 5px 3px #E6FF00;
	transition: .5s ease-out;
}
	#aboutMe h1:hover{
	transform: scale(1.25);
	transition: .5s ease;
}


/* #aboutMe img{
	height: 400px;
	width: 500px;
	border-radius: 50%;
}

#aboutMe img:hover{
	border-radius: 0;
	transition: 200ms;
} */


#aboutMe img{
	max-height: 400px;
	min-height: 40px;
	max-width: 500px;
	min-width: 50px;
	border-radius: 50%;
	margin: 20px 0;
	transition: .5s ease-out;
}

#aboutMe img:hover{
	border-radius: 0%;
	transition: .5s ease;
}


#aboutContent{
	font-family: 'poppins', sans-serif;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	height: auto;
	width: auto;
	padding-top: 30px;
}

#aboutTxt{
	margin: 20px;
	max-height: auto;
	/* overflow-y: auto; */
	width: 30vw;
	text-align: center;
	letter-spacing: .8px;
	color: black;
	font-weight: 500;
}

#externalLinks{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding-top: 20px;
}

#externalLinks .fab, #externalLinks .fas{
	color: #eeff00;
}

#externalLinks .fab:hover, #externalLinks .fas:hover{
	color: black;
	transition: 200ms;
}

@media screen and (max-width: 992px){
	#aboutContent{
		flex-direction: column;
	}
	#aboutMe img{
		max-width: 320px;
	}
	#aboutTxt{
		width: 80vw;
	}
}

/* PROJECTS */
#projects{
	width: 100vw;
	margin: auto;
	background-color: black
	;
	padding: 5% 10% 12.5%;
}

#projects h1{
	margin-bottom: 5%;
	color: #F7344F;
	width: fit-content;
	border-bottom: 5px solid #E6FF00;
	border-right: 5px solid #E6FF00;
	padding-bottom: 12px;
	padding-right: 17px;
	font-size: calc(40px + 2vw);

}

#cat{
	height: 300px;
	object-fit: cover !important;
}
#projects img{
	height: 100%;
	width: 100%;
	
}

.wrapper{
	display: flex;
	flex-direction: column;
	margin: auto;
	
}


.first-row, .second-row{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: auto;
}


.flip-card{
	background-color: transparent;
	/* min-width: 200px; */
	width: 20vw;
	height: 20vw;
	/* border: 1px solid black; */
	perspective: 1000px;
	transition: .2s;
}

.flip-card-inner{
	transition: all .5s ease-out;
	/* transition-delay: .1s; */
	transform-style: preserve-3d;
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	cursor: pointer;
}
.flip-card:hover{
	transform: scale(1.25);
	z-index: 5;
}

.flip-card:hover .flip-card-inner{
	transform: rotateY(180deg);
}


.flip-card-front, .flip-card-back{
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.flip-card-front{
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.flip-card-front h2{
	position: fixed;
}

.flip-card-back{
	background-color: rgb(50, 50, 50);
	color: white;
	transform: rotateY(180deg);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 5%;
}
.flip-card-back h3{
	font-size: 1.5vw;
}
.flip-card-back p{
	font-size: 1vw;
}

.flip-card button{
	border: none;
	border-radius: 20px;
	background-color: #E6FF00;
	color: rgb(50, 50, 50);
	font-size: 1vw;
	height: 2.5vw;
	width: 4vw;
}
.flip-card button:hover{
	/* background-color: white; */
	color: rgb(50, 50, 50);
	transform: scale(1.1);
	transition: .5s;
}

@media screen and (max-width: 768px ){
	.first-row, .second-row{
		flex-direction: column;
	}
	.flip-card{
		width: 50vw;
		height: 50vw;
	}
	.flip-card-back h3{
		font-size: 3vw;
	}
	.flip-card-back p{
		font-size: 2.5vw;
	}
	
	.flip-card button{
		font-size: 2.5vw;
		height: 5vw;
		width: 10vw;
	}
}
/* CONTACT */
#contact{
	background-color: #F7344F;
	width: 70vw;
	height: auto;
	width: auto;
	margin: 0;
	padding: 5% 15%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

#contact h1{
	color: #E6FF00;
	font-size: calc(40px + 2vw);
	
}

#contactHeadings p{
	font-size: calc(12px + 1vw);
	font-weight: 500;
}

#sendButton{
	margin: 10px;
	background-color: #F7344F;
	color: white;
	border: transparent;
	width: 520px;
	height: 50px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
	letter-spacing: 1px;
	
}


#sendButton:hover{
	border: 1px solid white;
	transition: 200ms;
}
#form{
	border: 15px solid black;
	background-color: black;
	box-shadow: #E6FF00 40px 40px;
	margin-bottom: 4%;
}


#contactHeadings p{
	width: 80%;
	color: white;
	letter-spacing: 1px;
}
#leftRightForm{
	display: flex;
	justify-content: center;
	width: auto;
}
#leftRightForm input{
	width: 250px;
}



#message{
	height: 100px;
	width: 520px;
}
#messageDiv{
	display: flex;
}

#name, #email, #phoneNumber, #subject, #message{
	margin: 10px;
	border-color: white;
}
#button{
	display: flex;
	justify-content: center;
}

@media screen and (max-width: 1280px){
	#contact{
		flex-direction: column;
		align-items: center;
		height: fit-content;
		padding-bottom: 10%;
	}
	#contactHeadings{
		text-align: center;
	}
	#contactHeadings p{
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		font-weight: 500;
		/* font-size: 20px; */
		letter-spacing: 1px;
	}
	#form{
		margin-right: 5%;
	}
}

@media screen and (max-width: 767px){
	#contact{
		flex-direction: column;
		align-items: center;
		height: fit-content;
		padding-bottom: 10%;
		padding-left: 0;
		padding-right: 0;
		margin: auto;
	}
	#contactHeadings{
		text-align: center;
	}
	#contactHeadings p{
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		font-weight: 500;
		/* font-size: 20px; */
		letter-spacing: 1px;
	}
	#leftRightForm{
		display: flex;
		flex-direction: column;
	}
	#message{
		max-height: 50px;
		max-width: 250px;
	}
	#sendButton{
		width: 250px;
	}
	#form{
		margin-right: 5%;
		margin-bottom: 5%;
	}
}



/* FOOTER */
#footer{
	background-color: rgb(50, 50, 50);
	height: fit-content;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	color: white;
	text-align: center;
}

#footerLinks{
	margin: 25px auto;
	width: 250px;
	display: flex;
	justify-content: space-evenly;
}

#footer .fab{
	color: white;
}

#footer .fab:hover{
	color: #E6FF00;
	transition: 200ms;
}

