/* Typewriter Effect */
.var-highlight{
	color: #F7344F
	;
}
.string-highlight{
	color: #E6FF00;
}

#typewriter{
        /* padding: 10% 0; */
		position: relative;
		top: 20%;
		font-size: 2em;
		/* margin: 0 auto; */
		font-family: "Courier New";
        color: white;
		height: 100%;
}



#typewriter:after{
        content: "|";
        animation: blink 500ms linear infinite alternate;
    }
    
@keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}


/* Thank you https://codepen.io/stevn/pen/jEZvXa for the idea */

html{
	overflow-x: hidden;
	font-family: 'poppins', sans-serif;
}


body{
	background-color: white
	;
}

body h1{
	font-family: 'Recursive', sans-serif;
	;
	font-weight: 700;
	font-size: 56px;
}

/* NAV/HEADER */
header{
	height: 80vh;
    width: 100vw;
    background-color: rgb(50, 50, 50);
	/* padding: 10% 0 10% 0; */
}

@media screen and (max-width: 1024px){
	#typewriter{
		font-size: 1em;
		transition: 1s;
		margin-left: 0;
		left: -50px;
	}
	
	header{
		height: 40vh;
		transition: 1s
	}
}

.bg-color{
	background-color:#F7344F;
}

nav img{
	width: 50px;
	height: auto;
	margin-right: 15px;
}
.navbar-brand{
	font-size: 32px;
	display: flex;
	align-items: center;
	
}
.nav-link{
	color: white;
	font-family: 'poppins', sans-serif;
	letter-spacing: 2px;
}
.navbar-brand{
	color: white;
	font-family: 'poppins', sans-serif;
	font-weight: 700;
	letter-spacing: 2px;
}


.nav-link i{
	color: #E6FF00;
}

.navbar{
	padding: .5% 5%;
}
#contactLink{
	border: 1px solid #E6FF00
}

#contactLink:hover{
	background-color: #E6FF00;
	color: #F7344F;
	transition: 200ms;
}

.container{
	width: fit-content;
	margin-left: 0;
}

.nav-link:hover{
	color: #E6FF00;
}

@media screen and (max-width: 545px){
	.nav{
		justify-content: start !important;
	}
}
	
/* ABOUT */
#aboutMe{
	min-height: 80vh;
	max-height: auto;
	width: 100vw;
	margin: auto;
	padding: 5% 10%;
}

#aboutMe h1{
	text-align: center;
	color: black;
	margin:0 auto 3% auto;	
	width: fit-content;
	/* border-bottom: 3px solid #F7344F; */
	text-shadow: 5px 5px 3px #E6FF00;
}


/* #aboutMe img{
	height: 400px;
	width: 500px;
	border-radius: 50%;
}

#aboutMe img:hover{
	border-radius: 0;
	transition: 200ms;
} */


#aboutMe img{
	max-height: px;
	min-height: 40px;
	max-width: 500px;
	min-width: 50px;
	border-radius: 50%;
	margin: 20px 0;
}

#aboutMe img:hover{
	animation-name: imageAnimation;
	animation-duration: 6s;
	animation-iteration-count: 1;

}

@keyframes imageAnimation{
	0%,
	20%,
	40%,
	60%,
	80%,
	100% {
		border-radius: 50%;
	}
	20% {border-radius: 0%}
}

#aboutContent{
	font-family: 'poppins', sans-serif;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	height: auto;
	width: auto;
	padding-top: 30px;
}

#aboutTxt{
	margin: 20px;
	max-height: auto;
	/* overflow-y: auto; */
	width: 30vw;
	text-align: center;
	letter-spacing: .8px;
	color: black;
	font-weight: 500;
}

#externalLinks{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding-top: 20px;
}

#externalLinks .fab{
	color: #eeff00;
}

#externalLinks .fab:hover{
	color: black;
	transition: 200ms;
}

@media screen and (max-width: 992px){
	#aboutContent{
		flex-direction: column;
	}
	#aboutMe img{
		max-width: 325px;
	}
	#aboutTxt{
		width: 80vw;
	}
}

/* PROJECTS */
#projects{
	width: 100vw;
	margin: auto;
	background-color: black
	;
	padding: 5% 10%;
}

#projects h1{
	margin-bottom: 5%;
	color: #F7344F;
	width: fit-content;
	border-bottom: 5px solid #E6FF00;
	border-right: 5px solid #E6FF00;
	padding-bottom: 12px;
	padding-right: 17px;
}

#cat{
	height: 300px;
	object-fit: cover !important;
}
#projects img{
	max-height: 300px;
	min-height: 300px;
	object-fit: cover;
}

.card{
	max-width: 500px;
	max-height: fit-content;
	min-height: 400px;
}

/* CONTACT */
#contact{
	background-color: #F7344F;
	width: 70vw;
	height: auto;
	width: auto;
	margin: 0;
	padding: 5% 15%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

#contact h1{
	color: #E6FF00;
}

#sendButton{
	margin: 10px;
	background-color: #F7344F;
	color: white;
	border: transparent;
	width: 520px;
	height: 50px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
	letter-spacing: 1px;
}

#sendButton:hover{
	border: 1px solid white;
	transition: 200ms;
}
#form{
	border: 15px solid black;
	background-color: black;
	box-shadow: #E6FF00 40px 40px;
	margin-bottom: 4%;
}
@media screen and (max-width: 992px){
	#contact{
		flex-direction: column;
		align-items: center;
		height: fit-content;
		padding-bottom: 10%;
	}
	#contactHeadings{
		text-align: center;
	}
	#contactHeadings p{
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		font-weight: 500;
		font-size: 20px;
		letter-spacing: 1px;
	}
	#leftRightForm{
		display: flex;
		flex-direction: column;
	}
	#message{
		max-height: 50px;
		max-width: 250px;
	}
	#sendButton{
		width: 250px;
	}
	#form{
		margin-right: 15%;
		margin-bottom: 15%;
	}
}

#contactHeadings p{
	width: 80%;
	color: white;
	letter-spacing: 1px;
}
#leftRightForm{
	display: flex;
	justify-content: center;
	width: auto;
}
#leftRightForm input{
	width: 250px;
}



#message{
	height: 100px;
	width: 520px;
}
#messageDiv{
	display: flex;
}

#name, #email, #phoneNumber, #subject, #message{
	margin: 10px;
	border-color: white;
}
#button{
	display: flex;
	justify-content: center;
}



/* FOOTER */
#footer{
	background-color: rgb(50, 50, 50);
	height: fit-content;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	color: white;
	text-align: center;
}

#footerLinks{
	margin: 25px auto;
	width: 250px;
	display: flex;
	justify-content: space-evenly;
}

#footer .fab{
	color: white;
}

#footer .fab:hover{
	color: #E6FF00;
	transition: 200ms;
}

