html {
	font-family: 'poppins', sans-serif;
	overflow-x: hidden;

}

body {
	background-color: white;
	color: white;
}


body h1 {
	font-family: 'Recursive', sans-serif;
	;
	font-weight: 700;
	font-size: 56px;
}

/* NAV/HEADER */

[data-theme="dark"] #logo-link {
	color: #121212;
}

header {
	height: 40vw;
	min-height: 40vh;
	width: 100vw;
	background-color: rgb(50, 50, 50);
	display: flex;
}

.modeContainer {
	width: 46px;
	height: 46px;
	box-sizing: border-box;
	padding: 12px;
	background: none;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin-left: 25px;
}

nav img {
	width: calc(24px + 1vw);
	height: auto;
	margin-right: 15px;
}

.navbar-brand {
	font-size: calc(24px + 1vw);
	display: flex;
	align-items: center;
}

.navbar-brand {
	color: white;
	font-family: 'poppins', sans-serif;
	font-weight: 700;
	letter-spacing: 2px;
}

[data-theme="dark"] .navbar-brand {
	color: #121212;
}

.nav-link {
	color: white;
	font-family: 'poppins', sans-serif;
	letter-spacing: 2px;
}

[data-theme="dark"] .nav-link {
	color: #121212;
}

.nav-link:hover {
	color: #E6FF00;
	transition: 200ms;
}

[data-theme="dark"] .nav-link:hover {
	color: #D1B347;
}

.nav-link i {
	color: #E6FF00;
}

[data-theme="dark"] .nav-link i {
	color: #D1B347;
}

.nav-link i:hover {
	color: white;
	transition: 200ms;
}

[data-theme="dark"] .nav-link i:hover {
	color: #121212;
}

#contactLink {
	border: 1px solid #E6FF00
}

[data-theme="dark"] #contactLink {
	border: 1px solid #D1B347;
}

#contactLink:hover {
	background-color: #E6FF00;
	color: #F7344F;
	transition: 200ms;
}

[data-theme="dark"] #contactLink:hover {
	background-color: #D1B347;
	color: #BB6B6B;
}

.navbar {
	padding: .5% 5%;
	width: 100vw;
	background-color: #F7344F;
}

[data-theme="dark"] .navbar {
	background-color: #BB6B6B;
}

nav .container {
	width: fit-content;
	margin-left: 0;
}

#contactAnchor {
	position: fixed;
	z-index: 1000;
	top: 88vh;
	left: 85%;
	border: none;
	border-radius: 50%;
	transition: .2s ease-out;
	visibility: hidden;
}

#contactAnchor:hover {
	transform: scale(1.25);
	transition: .2s ease;
}

#contactAnchor i {
	color: #E6FF00;
}

[data-theme="dark"] #contactAnchor i {
	color: #D1B347;
}

#contactButton {
	height: 80px;
	width: 80px;
	border: none;
	border-radius: 50%;
	background-color: #F7344F;
}

[data-theme="dark"] #contactButton {
	background-color: #BB6B6B;
}

.dropdown {
	display: none;
	color: #F7344F;
}

[data-theme="dark"] .dropdown {
	color: #BB6B6B;
}

.dropdown-toggle {
	color: #F7344F !important;
	background-color: #E6FF00 !important;
	border: none;
}

[data-theme="dark"] .dropdown-toggle {
	color: #BB6B6B !important;
	background-color: #D1B347 !important;
}

.dropdown-menu[data-bs-popper] {
	left: -42px;
}

.dropdown-menu {
	min-width: fit-content;
	font-family: 'Poppins';
	background-color: #E6FF00;
}

[data-theme="dark"] .dropdown-menu {
	background-color: #D1B347;
}

@media screen and (max-width: 900px) {
	#contactAnchor {
		position: fixed;
		z-index: 1000;
		top: 88vh;
		left: 82%;
		border: none;
		border-radius: 50%;
		transition: .2s ease-out;
		visibility: visible;
	}
}

@media screen and (max-width: 768px) {
	.nav ul {
		display: none;
	}

	.dropdown {
		display: flex;
	}
}

@media screen and (max-width: 545px) {
	.nav {
		justify-content: start !important;
	}
}

@media screen and (max-width: 467px) {
	#contactAnchor {
		left: 78%
	}
}

/* ABOUT */

#aboutMe {
	min-height: 80vh;
	max-height: auto;
	width: 100vw;
	margin: auto;
	padding: 5% 0;
	font-family: 'poppins', sans-serif;
	display: block;
}

[data-theme="dark"] #aboutMe {
	background-color: #121212;
}

#aboutMe h1 {
	text-align: center;
	color: black;
	margin: 0 auto 3% auto;
	width: fit-content;
	font-size: calc(40px + 2vw);
	text-shadow: 5px 5px 3px #E6FF00;
	transition: .5s ease-out;
}

[data-theme="dark"] #aboutMe h1 {
	color: #F1E6D3;
	text-shadow: 5px 5px 3px #D1B347;
}

#aboutMe h3 {
	text-align: center;
	color: black;
	margin: auto;
	font-size: calc(16px + 1vw);
	width: fit-content;
	transition: .5s ease-out;
}

[data-theme="dark"] #aboutMe h3 {
	color: #F1E6D3;
}

@media screen and (max-width: 559px) {
	#aboutMe h3 {
		font-size: calc(12px + 1vw);
		font-weight: 600;
		margin-top: 20px;
	}
}

#aboutMe h1:hover {
	transform: scale(1.25);
	transition: .5s ease;
}


#aboutImg img {
	max-height: calc(350px/1.5);
	min-height: 35px;
	max-width: calc(425px/1.5);
	min-width: 42.5px;
	border-radius: 50%;
	margin: 20px 0 0 0;
	transition: .5s ease-out;
}

#aboutImg img:hover {
	border-radius: 0%;
	transition: .5s ease;
}

#middleContent {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: auto;
}

#bottomContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

[data-theme="dark"] #bottomContent {
	color: #F1E6D3;
}

#aboutImg, #aboutTxt, #skills, #certifications {
	width: 33.3%;
	margin: auto;
}

#aboutImg {
	display: flex;
	justify-content: center;
}

#certifications {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	width: 33.3vw;
	justify-items: center;
	align-items: center;
	margin: auto;
	padding: 7%;

}

#certifications img {
	height: 100px;
	width: 100px;
	display: flex;
	justify-content: center;
}

#certifications a {
	transition: 0.25s ease-out;

}

#certifications a:hover {
	transform: scale(1.5);
	transition: .25s ease;
	text-align: center;
	visibility: visible;
}

#nameFlair {
	color: #F7344F;
	font-size: 1.2rem;
	font-weight: 600;
}

[data-theme="dark"] #nameFlair {
	color: #BB6B6B;
}

#skills {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 5px;
	padding: 0% 5%;
	margin: auto;
	width: 33.3vw;
}


#skills .col, #skills2 .col {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.25s ease-out;
}

#skills .col:hover, #skills2.col:hover {
	transform: scale(1.5);
	transition: .25s ease;
	text-align: center;
	visibility: visible;
}

#skills .col p:hover, #skills2.col p:hover {
	visibility: visible;
}

#skills img, #skills2 img {
	height: 80px;
	width: 80px;
}

#aboutTxt {
	margin: 0 20px;
	min-height: fit-content;
	width: 33.3vw;
	text-align: center;
	letter-spacing: 1px;
	color: black;
	font-weight: 500;
	line-height: 170%;
}

[data-theme="dark"] #aboutTxt {
	color: #F1E6D3;
}


#externalLinks {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding-top: 20px;
	width: 20%;
}

#externalLinks .fab, #externalLinks .fas {
	color: #F7344F;
}

[data-theme="dark"] #externalLinks .fab, #externalLinks .fas {
	color: #BB6B6B;
}

#externalLinks .fab:hover, #externalLinks .fas:hover {
	color: black;
	transition: 200ms;
}

[data-theme="dark"] #externalLinks .fab:hover, #externalLinks .fas:hover {
	color: #F1E6D3;
}

#mobileView {
	display: none;
}

@media screen and (max-width:1024px) {
	#pcView {
		display: none;
	}

	#mobileView {
		display: block;
	}

	#externalLinks {
		width: 60%;
	}

	#middleContent {
		flex-direction: column;
		margin: 2% 0;
	}

	#aboutMe img {
		max-width: 400px;
	}

	#aboutTxt {
		width: 80vw;
	}

	#aboutMe p {
		font-size: calc(10px + 1vw);
	}

	#skillsList {
		width: 100%;
		height: 120px;
		position: relative;
		overflow: hidden;

	}

	#skills, #skills2 {
		width: 2640px;
		position: absolute;
		white-space: nowrap;
		display: inline-block;
		gap: 0;
		-webkit-animation-name: pan;
		animation-name: pan;
		-webkit-animation-duration: 10s;
		animation-duration: 10s;
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
	}

	#skills2 {
		left: 1120px;
	}

	#skills .col, #skills2 .col {
		max-height: 100px;
		max-width: 100px;
		display: inline-block;
		margin-left: 10px;
		overflow: hidden;
		text-align: center;
	}

	@-webkit-keyframes pan {
		0% {
			transform: translateX(0);
		}

		100% {
			transform: translateX(-1100px);
		}
	}

	@keyframes pan {
		0% {
			transform: translateX(0);
		}

		100% {
			transform: translateX(-1100px);
		}
	}
}

/* PROJECTS */

#projects {
	width: 100vw;
	margin: auto;
	background-color: black;
	padding: 5% 10% 12.5%;
}

#projects h1 {
	margin-bottom: 5%;
	color: #F7344F;
	width: fit-content;
	border-bottom: 5px solid #E6FF00;
	border-right: 5px solid #E6FF00;
	padding-bottom: 12px;
	padding-right: 17px;
	font-size: calc(40px + 2vw);
}

[data-theme="dark"] #projects h1 {
	color: #BB6B6B;
	border-bottom: 5px solid #D1B347;
	border-right: 5px solid #D1B347;
}

#cat {
	height: 300px;
	object-fit: cover !important;
}

#projects img {
	height: 100%;
	width: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	margin: auto;
}

.first-row, .second-row {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: auto;
}

.flip-card {
	background-color: transparent;
	width: 20vw;
	height: 20vw;
	perspective: 1000px;
	transition: .2s;
}

.flip-card-inner {
	transition: all .5s ease-out;
	transform-style: preserve-3d;
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	cursor: pointer;
}

.flip-card:hover {
	transform: scale(1.25);
	z-index: 5;
}

.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.flip-card-front {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

[data-theme="dark"] .flip-card-front {
	color: #F1E6D3;
}

.flip-card-front h2 {
	position: fixed;
}

.flip-card-back {
	background-color: rgb(50, 50, 50);
	color: white;
	transform: rotateY(180deg);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 5%;
}

[data-theme="dark"] .flip-card-back {
	color: rgb(50, 50, 50);
	color: #F1E6D3;
}

.flip-card-back h3 {
	font-size: 1.5vw;
}

.flip-card-back p {
	font-size: 1vw;
}

.flip-card button {
	border: none;
	border-radius: 20px;
	background-color: #E6FF00;
	color: rgb(50, 50, 50);
	font-size: 1vw;
	height: 2.5vw;
	width: 4vw;
}

[data-theme="dark"] .flip-card button {
	background-color: #D1B347;
	color: rgb(50, 50, 50);
}

.flip-card button:hover {
	color: rgb(50, 50, 50);
	transform: scale(1.1);
	transition: .5s;
}

@media screen and (max-width: 768px) {
	.first-row, .second-row {
		flex-direction: column;
	}

	.flip-card {
		width: 50vw;
		height: 50vw;
	}

	.flip-card-back h3 {
		font-size: 3vw;
	}

	.flip-card-back p {
		font-size: 2.5vw;
	}

	.flip-card button {
		font-size: 2.5vw;
		height: 5vw;
		width: 10vw;
	}
}

/* CONTACT */

#contact {
	background-color: #F7344F;
	width: 70vw;
	height: auto;
	width: 100vw;
	margin: 0;
	padding: 5% 15%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

[data-theme="dark"] #contact {
	background-color: #BB6B6B;
}

#contact h1 {
	color: #E6FF00;
	font-size: calc(40px + 2vw);
}

[data-theme="dark"] #contact h1 {
	color: #D1B347;
}

#contactHeadings p {
	font-size: calc(14px + .5vw);
	font-weight: 500;
}

#sendButton {
	margin: 10px;
	background-color: #F7344F;
	color: white;
	border: transparent;
	width: 520px;
	height: 50px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
	letter-spacing: 1px;
}

[data-theme="dark"] #sendButton {
	background-color: #BB6B6B;
	color: #F1E6D3;
}

#sendButton:hover {
	border: 1px solid white;
	transition: 200ms;
}

[data-theme="dark"] #sendButton:hover {
	border: 1px solid #F1E6D3;
}

#form {
	border: 15px solid black;
	background-color: black;
	box-shadow: #E6FF00 40px 40px;
	margin-bottom: 4%;
}

[data-theme="dark"] #form {
	border: 15px solid black;
	background-color: black;
	box-shadow: #D1B347 40px 40px;
}

#contactHeadings p {
	width: 80%;
	color: white;
	letter-spacing: 1px;
}

[data-theme="dark"] #contactHeadings p {
	color: #F1E6D3;
}

#leftRightForm {
	display: flex;
	justify-content: center;
	width: auto;
}

#leftRightForm input {
	width: 250px;
}

#message {
	height: 100px;
	width: 520px;
}

#messageDiv {
	display: flex;
}

#name, #email, #phoneNumber, #subject, #message {
	margin: 10px;
	border-color: white;
}

[data-theme="dark"] #name, #email, #phoneNumber, #subject, #message {
	border-color: #F1E6D3;
}

#button {
	display: flex;
	justify-content: center;
}

@media screen and (max-width: 1280px) {
	#contact {
		flex-direction: column;
		align-items: center;
		height: fit-content;
		padding-bottom: 10%;
	}

	#contactHeadings {
		text-align: center;
	}

	#contactHeadings p {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		font-weight: 500;
		letter-spacing: 1px;
	}

	#form {
		margin-right: 5%;
	}
}

@media screen and (max-width: 767px) {
	#contact {
		flex-direction: column;
		align-items: center;
		height: fit-content;
		padding-bottom: 10%;
		padding-left: 0;
		padding-right: 0;
		margin: auto;
	}

	#contactHeadings {
		text-align: center;
	}

	#contactHeadings p {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		font-weight: 500;
		letter-spacing: 1px;
	}

	#leftRightForm {
		display: flex;
		flex-direction: column;
	}

	#message {
		max-height: 50px;
		max-width: 250px;
	}

	#sendButton {
		width: 250px;
	}

	#form {
		margin-right: 5%;
		margin-bottom: 5%;
	}
}

@media screen and (max-width: 325px) {
	#form {
		box-shadow: none;
		margin: auto;
	}
}

/* FOOTER */

#footer {
	background-color: rgb(50, 50, 50);
	height: fit-content;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	color: white;
	text-align: center;
	width: 100vw;
}

[data-theme="dark"] #footer {
	color: #F1E6D3;
}

#footerLinks {
	margin: 25px auto;
	width: 250px;
	display: flex;
	justify-content: space-evenly;
}

#footer .fab {
	color: white;
}

[data-theme="dark"] #footer .fab {
	color: #F1E6D3;
}

#footer .fab:hover {
	color: #E6FF00;
	transition: 200ms;
}

[data-theme="dark"] #footer .fab:hover {
	color: #BB6B6B;
}